{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
    {ring, ".*", {git, "git://github.com/yunbalabs/ring.git", {branch, "master"}}},
    {clique, ".*", {git, "git://github.com/basho/clique.git", {tag, "0.3.5"}}}
]}.
